body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #4b4d4d;
    margin: 40px;
    color: whitesmoke;
}

#main {
    background-color: black;
}

#nav {
    background-color: black;
    color: whitesmoke;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
}

a {
    color: whitesmoke;
}

#profile {
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#pic {
    background-size: cover;
    width: 110px;
    border-radius: 100px;
    border: 1px solid whitesmoke;
    padding: 10px;
}

.name {
    margin-top: 20px;
}

#intro {
    padding: 0 80px;
    font-size: xx-large;
    text-align: center;
}



#me {
    background-color: whitesmoke;
    color: black;
    display: flex;
}

#white {
    background-color: whitesmoke;
    color: black;
    display: flex;
    padding: 20px;
}

#black {
    color: whitesmoke;
    padding: 20px;
    display: flex;
}

#pro {
    height: 200px;
}